<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.tcngo_reflex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReactionView"
            android:label="@string/title_activity_reaction_view" >
        </activity>
        <activity
            android:name=".StatisticsView"
            android:label="@string/title_activity_statistics_view" >
        </activity>
        <activity
            android:name=".BuzzerMenuView"
            android:label="@string/title_activity_buzzer_menu_view" >
        </activity>
        <activity
            android:name=".BuzzerTwo"
            android:label="@string/title_activity_buzzer_two" >
        </activity>
        <activity
            android:name=".BuzzerThree"
            android:label="@string/title_activity_buzzer_three" >
        </activity>
        <activity
            android:name=".BuzzerFour"
            android:label="@string/title_activity_buzzer_four" >
        </activity>
    </application>

</manifest>
